h1 {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 10pt;
  font-size: 30px;
  background-color: #6aabe9;
  color: #444;
  text-align: center
}

.container {
  text-align: center;
  margin: 5px;
  font-size: 13px;
}

.section {
  text-align: center;
  width: 600px;
  margin: auto;
  text-align: center;
  border: 1px solid #cccccc;
  box-shadow: 0px 2px 2px #dddddd, 0px 0px 5px #dddddd;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
}

.sectionTitle {
  font-size: 20px bold;
  color: #ffffff;
  background-color: #00b3b3;
  padding: 5px;
  margin: 0px;
}

.sectionContents {
  padding: 20px;
  border-bottom: 2px solid;
  background-color: #fafafa;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

table {
  box-shadow: 0px 2px 2px #dddddd, 0px 0px 5px #dddddd;
  width: 100%;
  background-color: #ffffff;
}

.finalValue{
  font-weight: bold;
  color: #2222ff;
}

.code-container{
  align-items: left;
  text-align: left;
}

body{
  background-color: #8499a0;
}

.TSImage{
  width: 90%;
}

.button{
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}